In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('iris.csv')

In [15]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,NaN,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,NaN,Iris-virginica

In [5]:
## find null feilds in the df dataset

In [16]:
i = df['SepalLengthCm'].isnull().sum()

In [18]:
i

2

In [19]:
df.isnull().sum()

Id               0
SepalLengthCm    2
SepalWidthCm     2
PetalLengthCm    1
PetalWidthCm     2
Species          2
dtype: int64

In [20]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     148.000000    148.000000     149.000000    148.000000
mean    75.500000       5.844595      3.054730       3.755705      1.200000
std     43.445368       0.822745      0.435864       1.769997      0.763896
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.400000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [26]:
df.dtypes ## dtypes has no brackets

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [31]:
df['SepalLengthCm'].fillna(0).astype('int')

0      5
1      4
2      4
3      0
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: SepalLengthCm, Length: 150, dtype: int32

In [29]:
df.size

900

In [30]:
df.shape

(150, 6)

In [33]:
df['SepalLengthCm'] = df['SepalLengthCm'].fillna(0).astype('int')

In [39]:
df.dropna(inplace=True)

In [40]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [41]:
features = df.drop("Species", axis=1)

In [42]:
features

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1              5           3.5            1.4           0.2
1      2              4           3.0            1.4           0.2
2      3              4           3.2            1.3           0.2
3      4              0           3.1            1.5           0.2
4      5              5           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
144  145              6           3.3            5.7           2.5
145  146              6           3.0            5.2           2.3
146  147              6           2.5            5.0           1.9
147  148              6           3.0            5.2           2.0
148  149              6           3.4            5.4           2.3

[143 rows x 5 columns]

In [45]:
one_hot_encoded_data = pd.get_dummies(df, columns=['Species'], dtype=int)

In [46]:
one_hot_encoded_data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,1,5,3.5,1.4,0.2,1,0,0
1,2,4,3.0,1.4,0.2,1,0,0
2,3,4,3.2,1.3,0.2,1,0,0
3,4,0,3.1,1.5,0.2,1,0,0
4,5,5,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...,...
144,145,6,3.3,5.7,2.5,0,0,1
145,146,6,3.0,5.2,2.3,0,0,1
146,147,6,2.5,5.0,1.9,0,0,1
147,148,6,3.0,5.2,2.0,0,0,1
148,149,6,3.4,5.4,2.3,0,0,1

In [53]:
import sklearn.preprocessing as pre
le = pre.LabelEncoder()
df['Species']= le.fit_transform(df['Species'])

In [54]:
le = pre.LabelEncoder()
df['Species']= le.fit_transform(df['Species'])

In [55]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1              5           3.5            1.4           0.2        0
1      2              4           3.0            1.4           0.2        0
2      3              4           3.2            1.3           0.2        0
3      4              0           3.1            1.5           0.2        0
4      5              5           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
144  145              6           3.3            5.7           2.5        2
145  146              6           3.0            5.2           2.3        2
146  147              6           2.5            5.0           1.9        2
147  148              6           3.0            5.2           2.0        2
148  149              6           3.4            5.4           2.3        2

[143 rows x 6 columns]

In [56]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1              5           3.5            1.4           0.2        0
1   2              4           3.0            1.4           0.2        0
2   3              4           3.2            1.3           0.2        0
3   4              0           3.1            1.5           0.2        0
4   5              5           3.6            1.4           0.2        0

In [57]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1              5           3.5            1.4           0.2        0
1   2              4           3.0            1.4           0.2        0
2   3              4           3.2            1.3           0.2        0
3   4              0           3.1            1.5           0.2        0
4   5              5           3.6            1.4           0.2        0
5   6              5           3.9            1.7           0.4        0
6   7              4           3.4            1.4           0.3        0
7   8              5           3.4            1.5           0.2        0
8   9              4           2.9            1.4           0.2        0
9  10              4           3.1            1.5           0.1        0

In [58]:
df.tail()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
144  145              6           3.3            5.7           2.5        2
145  146              6           3.0            5.2           2.3        2
146  147              6           2.5            5.0           1.9        2
147  148              6           3.0            5.2           2.0        2
148  149              6           3.4            5.4           2.3        2

In [59]:
df.tail(10)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
139  140              6           3.1            5.4           2.1        2
140  141              6           3.1            5.6           2.4        2
141  142              0           3.1            5.1           2.3        2
142  143              5           2.7            5.1           1.9        2
143  144              6           3.2            5.9           2.3        2
144  145              6           3.3            5.7           2.5        2
145  146              6           3.0            5.2           2.3        2
146  147              6           2.5            5.0           1.9        2
147  148              6           3.0            5.2           2.0        2
148  149              6           3.4            5.4           2.3        2

In [60]:
df.loc()

In [61]:
df.loc[0]

Id               1.0
SepalLengthCm    5.0
SepalWidthCm     3.5
PetalLengthCm    1.4
PetalWidthCm     0.2
Species          0.0
Name: 0, dtype: float64

In [62]:
df.loc[:10]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    1              5           3.5            1.4           0.2        0
1    2              4           3.0            1.4           0.2        0
2    3              4           3.2            1.3           0.2        0
3    4              0           3.1            1.5           0.2        0
4    5              5           3.6            1.4           0.2        0
5    6              5           3.9            1.7           0.4        0
6    7              4           3.4            1.4           0.3        0
7    8              5           3.4            1.5           0.2        0
8    9              4           2.9            1.4           0.2        0
9   10              4           3.1            1.5           0.1        0
10  11              5           3.7            1.5           0.2        0

In [66]:
df.loc[(df['SepalLengthCm'] > 5) & (df['SepalWidthCm'] > 3), ['Species']] ## & is used for and

     Species
50         1
51         1
52         1
56         1
65         1
85         1
86         1
100        2
109        2
115        2
117        2
120        2
124        2
125        2
131        2
136        2
137        2
139        2
140        2
143        2
144        2
148        2

In [65]:
df.iloc[:10]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1              5           3.5            1.4           0.2        0
1   2              4           3.0            1.4           0.2        0
2   3              4           3.2            1.3           0.2        0
3   4              0           3.1            1.5           0.2        0
4   5              5           3.6            1.4           0.2        0
5   6              5           3.9            1.7           0.4        0
6   7              4           3.4            1.4           0.3        0
7   8              5           3.4            1.5           0.2        0
8   9              4           2.9            1.4           0.2        0
9  10              4           3.1            1.5           0.1        0

In [71]:
df.iloc[:5,:4]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0   1              5           3.5            1.4
1   2              4           3.0            1.4
2   3              4           3.2            1.3
3   4              0           3.1            1.5
4   5              5           3.6            1.4

In [74]:
df.sort_values(by='SepalLengthCm', ascending=False).head()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
117  118              7           3.8            6.7           2.2        2
50    51              7           3.2            4.7           1.4        1
107  108              7           2.9            6.3           1.8        2
118  119              7           2.6            6.9           2.3        2
105  106              7           3.0            6.6           2.1        2

In [75]:
data = {
    'name': ['kalpesh','samyak'],
    'marks': [99,98]
}

In [78]:
df1 = pd.DataFrame(data)

In [79]:
df1

      name  marks
0  kalpesh     99
1   samyak     98

In [80]:
df2=pd.DataFrame({'name':['kalpesh','samyak']})

In [81]:
df2

      name
0  kalpesh
1   samyak

In [82]:
df.count()

Id               143
SepalLengthCm    143
SepalWidthCm     143
PetalLengthCm    143
PetalWidthCm     143
Species          143
dtype: int64

In [85]:
df.ndim

2

In [95]:
df.isnull().any() # returns true if any value is null

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [96]:

df.isnull().values.any() # returns true if any value in values in true

False