In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('Iris.csv', na_values=['NA', '?'])

In [9]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
df.describe

<bound method NDFrame.describe of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           2.3

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [11]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [13]:
mean = np.mean(df['SepalLengthCm'])
mean

5.842

In [14]:
median = np.median(df['PetalLengthCm'])
median

4.35

In [16]:
max = np.max(df['SepalWidthCm'])
max

4.4

In [17]:
min = np.min(df['PetalWidthCm'])
min

0.1

In [19]:
std = np.std(df['SepalLengthCm'])
std

0.8237531992856436

In [22]:
sd = df['Species'].value_counts()
sd

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [28]:
data = df.groupby(['Species'])
data

In [30]:
data.groups.keys()

dict_keys(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])

In [31]:
data.agg(np.mean)

C:\Users\kalpe\AppData\Local\Temp\ipykernel_14224\1144991998.py:1: FutureWarning: The provided callable <function mean at 0x000001D04E917420> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data.aggregate(np.mean)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.006,3.422,1.464,0.244
Iris-versicolor,75.5,5.936,2.772,4.260,1.326
Iris-virginica,125.5,6.584,2.974,5.552,2.036

In [32]:
data.agg(np.median)

C:\Users\kalpe\AppData\Local\Temp\ipykernel_14224\1704176078.py:1: FutureWarning: The provided callable <function median at 0x000001D054A4F7E0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  data.aggregate(np.median)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.0,3.4,1.50,0.2
Iris-versicolor,75.5,5.9,2.8,4.35,1.3
Iris-virginica,125.5,6.5,3.0,5.55,2.0

In [45]:
data.agg(np.max)

C:\Users\kalpe\AppData\Local\Temp\ipykernel_14224\732457785.py:1: FutureWarning: The provided callable <function max at 0x000001D04E916A20> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.agg(np.max)

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       50            5.8           4.4            1.9           0.6
Iris-versicolor  100            7.0           3.4            5.1           1.8
Iris-virginica   150            7.9           3.8            6.9           2.5

In [34]:
data.agg(np.min)

C:\Users\kalpe\AppData\Local\Temp\ipykernel_14224\3189443958.py:1: FutureWarning: The provided callable <function min at 0x000001D04E916B60> is currently using DataFrameGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  data.aggregate(np.min)

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            4.3           2.3            1.0           0.1
Iris-versicolor   51            4.9           2.0            3.0           1.0
Iris-virginica   101            4.9           2.2            4.5           1.4

In [35]:
data.agg(np.std)

C:\Users\kalpe\AppData\Local\Temp\ipykernel_14224\1585672330.py:1: FutureWarning: The provided callable <function std at 0x000001D04E917560> is currently using DataFrameGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  data.agg(np.std)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,14.57738,0.352490,0.379737,0.173511,0.107210
Iris-versicolor,14.57738,0.516171,0.314312,0.469911,0.197753
Iris-virginica,14.57738,0.634504,0.322497,0.551895,0.275355

In [37]:
data.agg(np.var)

C:\Users\kalpe\AppData\Local\Temp\ipykernel_14224\1830515565.py:1: FutureWarning: The provided callable <function var at 0x000001D04E9176A0> is currently using DataFrameGroupBy.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  data.agg(np.var)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,212.5,0.124249,0.144200,0.030106,0.011494
Iris-versicolor,212.5,0.266433,0.098792,0.220816,0.039106
Iris-virginica,212.5,0.402596,0.104004,0.304588,0.075820

In [38]:
var = np.var(df['SepalLengthCm'])
var

0.6785693333333334

In [44]:
mode = df['SepalLengthCm'].mode()
mode

0    5.0
Name: SepalLengthCm, dtype: float64

In [46]:
import statistics as st
data.agg(st.mode)

In [47]:
data.agg(st.mode)

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            5.1           3.4            1.5           0.2
Iris-versicolor   51            5.5           2.9            4.5           1.3
Iris-virginica   101            6.3           3.0            5.1           1.8

In [48]:
data['SepalLengthCm'].agg(st.mode)

Species
Iris-setosa        5.1
Iris-versicolor    5.5
Iris-virginica     6.3
Name: SepalLengthCm, dtype: float64

In [49]:
data['SepalLengthCm'].apply(st.mode)

Species
Iris-setosa        5.1
Iris-versicolor    5.5
Iris-virginica     6.3
Name: SepalLengthCm, dtype: float64

In [50]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64